@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --title-size: 10.5rem;
    --primary-color: rgb(6, 174, 65);
    --white-color: rgb(245, 245, 220);
    --title-color: rgb(6, 174, 65);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background-color: var(--white-color);
}

body {
    position: relative;
}

svg {
    height: 50px;
    width: 50px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20vw;
    font-size: clamp(0.5rem, 2vw, 20px);
    text-align: center;

}

.about-me h2 {
    margin-bottom: 10px;
    font-size: clamp(2rem, 3.5vw, 4vw);
}

.about-me p {
    margin-bottom: 50px;
}

.skills-container *{
    background-color: var(--primary-color);
    text-align: center;
}

.skills-container h2 {
    font-size: clamp(2rem, 3vw, 4vw);
    padding-bottom: 20px;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills h3 {
    font-size: clamp(1.2rem, 2vw, 4vw);
    padding-bottom: 10px;
}

.skills > div {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;

}

.skill-title {
    color: white;
}

.skill-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill-icons div svg {
  width: clamp(40px, 3vw, 100px);
  cursor: pointer;
  fill: white;
  height: auto;
}

.project-intro {
    font-size: clamp(1.5rem, 2vw, 4vw);
    text-align: center;
    margin: 30px 0px;
}

.project-title {
    font-size: clamp(0.5rem, 2vw, 1.5rem);

}

.project-description {
    color: #404040;
}

.my-projects > p {
    font-size: clamp(0.5rem, 2vw, 20px);
    text-align: center;
    margin-bottom: 30px;
    padding: 0px 7vw;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10vh;
    padding: 5vh 10vh;
}

.project { 
    border-radius: 1vh;
    padding: 2vw;
    background-color: rgb(189, 236, 182);
    box-shadow: 10px 10px 5px 0px rgba(6,174,65,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(6,174,65,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(6,174,65,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project * {
    background-color: rgb(189, 236, 182);
}

.project-card-intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 1vw;
}

.project-main {
    font-size: clamp(0.5rem, 2vw, 20px);
}

.links {
    display: flex;
    gap: 1vw;
}

.links a svg {
    width: clamp(20px, 2vw, 100px);
}

.project-pic {
    width: clamp(10px, 50vw, 400px);
    height: auto;
    display: flex;
    justify-self: center;
    margin-bottom: 1vw;
}

/* RESPONSIVE */

@media (width < 1700px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (width < 1180px) {
    .project-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ANIMATIONS */

.skill-icons svg {
    transition: transform 0.3s ease-in-out; 
}

.skill-icons svg:hover{
    transform: scale(1.05);
    position: relative;
    z-index: 100;
}

.links a svg:hover,
.contact:hover {
    fill: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
}

.project {
    transition: transform 0.3s ease-in-out; 
}

.project:hover{
    transform: scale(1.05);
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.3s ease-out, transform 1.3s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-section.visible:hover {
    transform: scale(1.05);
}
 
.contact-me * { 
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    justify-content: center;
    color:white;
}

.contact-container a{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
    font-size: clamp(0.5rem, 2vw, 20px);

}

.contact-container a svg {
    width: clamp(15px, 5vw, 40px);
    height: auto;
    fill: white;
}
